@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bocato-font';
  src: url('../assets/fonts/bocato-font.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'bocato-font';
}
